.viewport {
    /*width: 320px;*/
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
    padding: 0px;
}

.flipsnap {
    /*width: 960px;*/ /* 320px(item width) * 3(item count) */
}

.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.items {
    height: auto;
    margin: 0 auto;
}
.item {
    float: left;
    /*width: 310px;*/
    text-align: center;
    background: #BBBBEB;
    color: #666;
}